body {
  font-family: Arial, sans-serif;
  background-image: url('../imagens/waves.svg');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

footer {
  position: fixed;
  bottom: 0;
  color: #555;
  text-align: center;
  padding: 5px;
  font-size: 12px;
}

#assinatura-gerada {
  display: flex;
  width: 220px;
  height: 90px;
  align-items: center;
}

#ass-nome {
  font-size: 10px;
  font-weight: bold;
  color: #0e2b8d;
}

.ass-logo {
  max-width: 80px;
  max-height: 70px;
  margin-right: 5px;
}

.ass-texto {
  font-size: 8px;
  color: #808080;
}
